<div class="Article_base">
    <h1>Lukas Ferreira e Lucas Vieira</h1>
    <p id="textosobre">
        O Rio de Janeiro é uma cidade que respira futebol, com rivalidades históricas entre o Flamengo, Fluminense, Vasco da Gama e Botafogo, times que têm uma legião de fãs apaixonados e uma trajetória que permeia gerações. Com esse projeto, buscamos homenagear essa cultura vibrante, trazendo à vida virtual toda a dinâmica e a intensidade que tornam o futebol carioca tão especial.
        <br>
        <br>
        Nosso projeto consiste na criação de uma plataforma web inspirada nos sites de notícias de futebol que abrangem os times do Rio de Janeiro. Utilizamos as tecnologias Angular, HTML, CSS e JavaScript para desenvolver uma interface dinâmica e interativa que oferece aos usuários uma experiência imersiva e informativa sobre os principais acontecimentos esportivos relacionados aos clubes cariocas.
    </p>
    <div id="imgsobre">
        <img src="/imagens/20231129_102750.jpg" alt="">
    </div>
</div>
